 body {
   font-family: 'Amatica SC', sans-serif;
   font-size: 2.5em;
 }

.container {
  max-width: 57%;
  margin-bottom: 2em;
}

h1,
h2,
h3 {
  font-family: 'Bungee Inline', sans-serif;
}

.page-header,
.my-intro p,
.my-intro h3,
#survey-title {
  text-align: center;
}

.my-intro {
    margin: 1% auto;
    font-weight: bold;
}

#survey-title{
  margin-top: 6%;
  margin-bottom: 3%;
}

#name {
  max-width: 6em;
}

#output {
  display: none;
}
